.App {
  font-family: Arial, sans-serif;
}

header {
  background-color: #00e6ee;
  color: white;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: rgb(0, 255, 238);
  text-decoration: none;
}

footer {
  background-color: #006969;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

main {
  padding: 20px;
  text-align: center;
}

.img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: auto;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin-bottom: 10px;
}

.App {
  font-family: sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #000000;
  text-align: center;
}